/*font-family: "Open Sans", sans-serif;*/

/*Comentario: por ahora voy usando las estructuras del css de Flavia, luego pode rir adaptando sobre la base de mi diseño cómo vaya quedando*/


body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
}