/*font-family: "Open Sans", sans-serif;*/

/*Comentario: por ahora voy usando las estructuras del css de Flavia, luego pode rir adaptando sobre la base de mi diseño cómo vaya quedando*/


body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: #2e64a1;
    padding: 16 px 0;

}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative; /*probar luego con display flex y flex box para ir acomodando*/
    bottom: 35px;
    margin-left: 10px;
}

nav {
    background-color: #6da9ed;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.activo { /*ver ómo al ser una clase dentro de varas etiquetas, combiene aclarar con el . que etoy aplicando solo a la clase interna segun la ruta*/
    background-color: #4c76a5;
}


footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

 .holder {
     max-width: 960px;
     margin: 0 auto;
 } 

 h2 {
    color: #2e64a1;
    font-weight: 400;
 }


/*Inicio del Home*/

 .bienvenidos {
    width: 75 ;
    padding-right: 10px;
    box-sizing: border-box;
 }

 .testimonios {
    width: 25%;
    /*background-color: ;*/
 }

 .columnas { 
    display: flex;
    justify-content: space-between;
 }

 .bienvenidos p {
    font-size: 20px;
 }

 .testimonio {
    background-color: "#ccc";
    padding: 16pxs;
 }

 .testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    background-color: yellow;
    display: block;
 }

 .testimonio .autor {
    font-size: 10px;
    text-align: center;
    background-color: lightcoral;
    display: block;
    margin: 12px 0;
 }

 /*fin seccion de Home*/