<!--visual de formulario para el AGREGAR novedades -->

<div class="container" style="margin: 120px auto;">
    <div class="row">
        <div class="col-6 offset-3">
            <h4 style="text-align: center; margin-bottom: 30px; border-bottom: 1px solid #CA5D53">Agregar un Nuevo Cliente</h4>
            <form action="/admin/novedades/agregar" method="post">

            <!--ABAJO EMPIEZO A CAMBIAR EL FOMULARIO SEGUNA LOS DATOS DE MI TABLA-->
                
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Nombre" name="nombre">
                </div>

                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Profesion" name="profesion">
                </div>

                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Edad" name="edad">
                </div>

                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Tipo de cliente" name="tipo">
                </div>

                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Mail de contacto" name="mail">
                </div>

                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Telefono de contacto" name="telefono">
                </div>

                <button type="submit" class="btn btn-primary" style="background-color: #CA5D53; margin:20px 50%;"> Guardar </button>

            </form>

            {{#if error}}
                <p>{{message}}</p>
            {{/if}}

        </div>
    </div>
</div>