<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<title>{{title}}</title>
<link rel="stylesheet" href="/stylesheets/proyectofinal.css" />
</head>

<body>

  <header>
    <div class="holder">
      <img src="/images/logo1.png" width="100" alt="Servicios Inmobiliarios">
      
      <h1>Peñas Propiedades</h1>
    </div>
  </header>
  
  <!-- luego podre seguir probando y agregando cosas-->
  <footer>
    <span id="leyendafinal"><i class="fa-solid fa-house fa-beat fa-xs"></i> Somos Peñas Propiedades. tu inmobiliaria
      <i class="fa-solid fa-house fa-beat fa-xs"></i></span>
  </footer>


  {{{body}}}
</body>

</html>