<!-- ESTO ES DE VARIABLES DE SESION, POR AHORA LO DEJO COMENTADO, YA QUE ME DABA ERROR AL HABILITAR LAS VARIABLES DE SESION

<h1>{{title}}</h1>
{{#if conocido}}
<p>Hola {{nombre}} <a href="/salir">Salir</a></p>
{{/if}}

{{#unless conocido}}
<p>No te conozco</p>
<form action="/ingresar" method="post">
    <input type="text" name="nombre"> 
    <button>ingresar</button>
</form>
{{/unless}}
--> 